@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Avoids horizontal scrolling issues */
}

body {
  /* background-image: linear-gradient(to bottom right, #f8fafc, #f1f5f9); */
  background-color: #f8fafc;
  /* 3‑stop gradient: start at slate‑50, pass through blue‑50 at midpoint, end at indigo‑100 */
  background-image: linear-gradient(
    to bottom right,
    #f8fafc 0%,
    #eff6ff 50%,
    #e0e7ff 100%
  );
}

p {
  margin-top: 1rem; /* mt-4 */
  margin-bottom: 1rem; /* mb-4 */
  color: #262626; /* text-neutral-800 */
}

h1 {
  font-size: 2rem; /* text-2xl */
  font-weight: 500; /* font-medium */
  letter-spacing: -0.025em; /* tracking-tight */
  margin-bottom: 0.5rem; /* mb-2 */
}

h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 500; /* font-medium */
  letter-spacing: -0.025em; /* tracking-tight */
  margin-top: 1.5rem; /* mt-6 */
  margin-bottom: 0.5rem; /* mb-2 */
}

h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 500; /* font-medium */
  letter-spacing: -0.025em; /* tracking-tight */
  margin-top: 1.5rem; /* mt-6 */
  margin-bottom: 0.5rem; /* mb-2 */
}

h4 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
  letter-spacing: -0.025em; /* tracking-tight */
  margin-top: 1.5rem; /* mt-6 */
  margin-bottom: 0.5rem; /* mb-2 */
}

strong {
  font-weight: 500; /* font-medium */
}

ul {
  list-style-type: disc; /* list-disc */
  padding-left: 1.5rem; /* pl-6 */
}

ol {
  list-style-type: decimal; /* list-decimal */
  padding-left: 1.5rem; /* pl-6 */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

/* // Custom values ///////////////////// */

@layer utilities {
  .bg-secondaryColor {
    background: rgb(117, 115, 191); /* Replace with your desired color */
  }
  .hover-secondaryColor:hover {
    @apply bg-secondaryColor;
  }
}

.pageContainer {
  max-width: 72rem; /* Tailwind's 6xl = 1152px = 72rem */
  padding-left: 0.5rem; /* px-2 = padding-left & padding-right: 0.5rem */
  padding-right: 0.5rem;
  min-height: calc(100vh - 10rem);
  margin-left: auto; /* lg:mx-auto = margin-left & margin-right: auto at lg breakpoint */
  margin-right: auto;
}

/* Media queries for pageContainer's tablet*/
@media (max-width: 1024px) and (min-width: 769px) {
  .pageContainer {
    padding-left: 2rem; /* px-8 */
    padding-right: 2rem;
    min-height: calc(100vh - 9rem);
    max-width: 56rem; /* Tailwind's 4xl = 896px = 56rem */
  }
}

/* Media queries for pageContainer's mobile*/
@media (max-width: 768px) {
  .pageContainer {
    padding-left: 1rem; /* px-4 = padding-left & padding-right: 1rem */
    padding-right: 1rem;
    min-height: calc(100vh - 8rem);
  }
}

.fullHorizontalLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 100%;
  border-top: 1px solid #d3d3d3;
}

a {
  color: #2d5e9d;
}

a:hover {
  color: #2563eb; /* This is the equivalent of Tailwind's 'text-blue-600' */
}

.dividingLine {
  border-top: 1px solid #807e7e;
  margin: 1rem 0;
}

.no-scrollbar {
  scrollbar-width: none !important;
  overflow: -moz-scrollbars-none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.textShadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
